body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.main-header {
    text-align: center;
    margin: 20px 0;
}

.main-header h1 {
    font-size: 2.5em;
    color: #333;
    margin: 0;
}

.main-header h2 {
    font-size: 1.8em;
    color: #666;
    margin: 10px 0;
}

/* Botones */
.buttons-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.button:active {
    background-color: #003d82;
    transform: translateY(0);
}
