<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="form-container">
        <form action="/ejercicio1" method="post">
            <h1>Formulario de Notas</h1>
            <label for="first_grade">Primera Nota</label>
            <input type="number" id="first_grade" name="first_grade" min="0" max="70" required>
            <label for="second_grade">Segunda Nota</label>
            <input type="number" id="second_grade" name="second_grade" min="0" max="70" required>
            <label for="third_grade">Tercera Nota</label>
            <input type="number" id="third_grade" name="third_grade" min="0" max="70" required>
            <label for="assistance">(%) de asistencia</label>
            <input type="number" id="assistance" name="assistance" min="0" max="100" required>
            <input type="submit" value="Enviar">
        </form>
        {% if grade_status %}
        <div id="resultado">
            <h2>Resultado de la Operación</h2>
            <p>Promedio: {{ grade_average }}</p>
            <p>Estado: {{ grade_status }}</p>
        </div>
        {% endif %}
        <a href="/" class="button-back">Volver al Inicio</a>
    </div>
</body>
</html>
