<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVALUACION 3 FLASK</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header class="main-header">
        <h1>EVALUACIÓN DE SAMUEL ASENJO</h1>
        <h2>Programación Web</h2>
    </header>
    <main>
        <div class="buttons-container">
            <a href="ejercicio1" class="button">Ejercicio 1</a>
            <a href="ejercicio2" class="button">Ejercicio 2</a>
        </div>
    </main>
</body>
</html>